@model Product

@{
    ViewBag.Title = "Product Name";
}
<div data-productid="@Model.ProductID" data-stocklevel="@ViewBag.StockLevel">
    <p>Product Name: @Model.Name</p>
    <p>Product Price: @($"{Model.Price:C2}")</p>
    <p>
        Stock Level:
        @switch (ViewBag.StockLevel)
        {
            case 0:@:Out of Stock
                break;
            case 1:
            case 2:
            case 3:
                <b>Low Stock (@ViewBag.StockLevel)</b>
                break;
            default:
                @:ViewBag.StockLevel in Stock
                break;

        }

    </p>
    <p>
        Stock Level:
        @if (ViewBag.StockLevel == 0)
        {@:Out of Stock
        }
        else if (ViewBag.StockLevel > 0 && ViewBag.StockLevel <= 3)
        {
            <b>Low Stock (@ViewBag.StockLevel)</b> }
        else
        {
            @: @ViewBag.StockLevel in Stock     
        }

    </p>
</div>

